body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 /* z-index: 0;*/
}
h1{
	font-size:3rem;
	text-transform: uppercase;
	text-decoration: underline;
	/*display: flex;
	flex-flow: row;*/
	color: white;
}
/*.container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;*/
/*}*/
.buffer{
	height: 10rem;
}
.button{
	padding: 7px 15px;
	border: solid;

	border-color: white;
	background-color: #c2c2d6;
	border-radius: 300px;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	font: black;
	text-transform: uppercase;
	color:black;
	font-size-adjust: initial;
	outline: 0.25px; 
	cursor:pointer;
	z-index: 0;
}
.button:hover{
	color: #c2c2d6;
	font:black;
    background-color: #ccffe6;
    border-width: 5px;
    border-outline:0.25px;
    /* Firefox 
    /*-moz-transition: all 1s ease-in-out;
    /* WebKit 
   /* -webkit-transition: all 1s ease-in-out;
    /* Opera 
    /*-o-transition: all 1s ease-in-out;
    /* Standard */*/*/*/*/
    transition: all 1s ease-in;
}

hr{
	border-color: #c2c2d6
	max-width:65px;
	border-width:100px;
	z-index: 10;
	/*max-width:165px;*/
	/*border-width:1rem;*/
	/*border-width:20px;*/
}
/*hr: hover{
	border-color: #ccffe6;
    border-width: 1rem;
    /*border-outline:0.25px;
    transition: all 1s ease-in;
}*/
